*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --primary-color: #141414;
  --text-color:#525252;
  --experiencia-color: #e0e0e0;
}

body{
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 1.6rem;
  color: #141414;
}

h1, h2, h3, p{
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}


.subtitulo{
  font-size: 12.8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 80rem)
{
  .subtitulo{
    font-size: 4.8rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}